<br><br><br>

<footer>
  <!--<a href="/privacy">
    <span class="material-icons-outlined">visibility</span> Privacy
  </a>-->
  <a href="https://codeberg.org/librarian/librarian" rel="noreferrer">
    <span class="material-icons-outlined">code</span> Source Code
  </a>
</footer>